<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab">
    <ion-buttons tab="add-data" class="button1" [routerLink]="''">
      <ion-icon name="add-circle-outline" class="icon"></ion-icon>
    </ion-buttons>
    <ion-buttons tab="list-data" class="button2" [routerLink]="'/listFuelLog'">
      <ion-icon name="reader-outline" class="icon"></ion-icon>
    </ion-buttons>
    <ion-buttons tab="settings" class="button3" [routerLink]="'/settings'">
      <ion-icon name="settings-outline" class="icon"></ion-icon>
    </ion-buttons>
  </ion-tab-bar>
</ion-tabs>